
<footer class="footer">

  <div class="container">
    <!--Inicio Row-->
    <div class="row">
      <div class="menu-1 col">

          <div class="footer-menu">
            <h3>Menu</h3>
              
              <div class="links_a">
                  <div class="links_a_1">
                      <a routerLink="/home">Home</a>  
                      <a routerLink="/perfumaria">Perfumaria</a>   
                      <a routerLink="/corpo-e-banho">Corpo e Banho</a>
                      <a routerLink="/cabelos">Cabelos</a>
                  </div>
                  <div class="links_a_2">
                      <a routerLink="/rosto">Rosto</a>
                      <a routerLink="/maquiagem">Maquiagem</a>
                      <a routerLink="/infantil">Infantil</a>
                  </div>
              </div>
            </div>
      </div><!--Fim menu-1-->

      <!--Inicio Menu-2-->
      <div class="menu-2 col">

            <div class="footer_pagamento">
              <h3>Formas de Pagamentos</h3>
              <div class="pagamento">

                  <img src="../assets/img/img_icones/icon-elo.svg" style="width: 48px; height: 48px; padding: auto;">
                                
                  <img src="../assets/img/img_icones/icon-mastercard.svg" style="width: 48px; height: 48px; padding: auto;">
                
                  <img src="../assets/img/img_icones/icon-visa.svg" style="width: 48px; height: 48px; padding: auto;">
               
              </div>
            </div>  
      </div><!--Fim Menu-2-->

      <!--Inicio menu-3-->
      <div class="menu-3 col">

          <div class="footer_redes_sociais">
            <h3>Redes Socias</h3>
            <div class="redes_sociais">
              <div class="icon_socias">
                <a href="https://www.facebook.com/">
                  <img src="../assets/img/img_icones/icon-facebook.svg" style="width: 48px; height: 48px; padding: auto;">
                </a>           
              </div>
              
              <div class="icon_socias">
                <a href="https://www.instagram.com/">
                  <img src="../assets/img/img_icones/icon-instagram.svg" style="width: 48px; height: 48px; padding: auto;">
                </a>
              </div>
  
              <div class="icon_socias">
                <a href="https://twitter.com/">
                  <img src="../assets/img/img_icones/icons8-twitterx.svg" style="width: 48px; height: 48px; padding: auto;">
                </a>
              </div>
            </div>            
          </div>
      </div><!--Fim menu-3-->

      
      <!--Inicio menu-4-->
      <div class="menu-4 col">

        <!--Inicio Col-4-->
        <div class="email_footer">
          <h4>E-mail</h4>
          <p>lindacosmeticos@gmail.com</p>
        </div>
        <!--Fim Col-4--> 

      </div><!--Fim menu-4-->
    </div><!--Fim Row-->
  </div><!--Fim Container-->

  
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="copy-text">
            <p>&copy; <a href="#">Linda Cosmeticos</a> - Todos os Direitos Reservados.</p>
          </div>
        </div>
        
        <div class="col">
          <div class="copy-menu">
            <a href="#">Termos de Uso</a>
            <a href="#">Privacidade</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>